#rental {
    background-image: url("img/top-shape.svg");
    background-size: 100% 100%;
}

#rental img {
    width: 88%;
}

#dot {
    position: absolute;
    transform: translateY(50%);
    left: -1rem;
}

#logo{
    height: 4rem;
}
#social-media{
    gap: 1rem;
}
#all-countries{
    position: absolute;
    bottom: -4rem;
    margin: 0;
}
