
#about {
    background-image: url("img/top-shape.svg");
    background-size: 100% 100%;
}

#bike {
    background-color: #F9F871;
}


#story {
    background-image: url("img/bottom-shape.svg");
    background-size: 100% 66%;
    background-repeat: no-repeat;
}

#story3 {
    background-image: url("img/bottom-shape.svg");
    background-size: 100% 44%;
    background-repeat: no-repeat;
}

#story3 * {
    text-shadow: 1px 1px 4px #0000005b;
}

#computer2 {
    position: absolute;
    bottom: 0;
}

#join-us img {
    width: 100%;
    height: auto;
    /* background-image: url("img/join-section-1.png");
    background-size: 100% auto;
    background-repeat: no-repeat; */
}

#readMore {
    display: block;
    background: none;
    border: none;
    font-size: 1rem;
    color: #848484;
    padding: 0.5rem;
}


@media (min-width: 576px) {}

@media (min-width: 768px) {
    #join-us img {
        content: url("img/join-section-2.svg");
    }
}

@media (min-width: 992px) {
    #about {
        background-image: url("img/top-shape-large.svg");

    }

    #join-us img {
        content: url("img/join-section-3.svg");
    }
}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}